body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

#wrapper { position: relative; }
#over_map { position: absolute; top: 10px; left: 500px; z-index: 99; }